/*Global*/
:root {
  /*Font Size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-samall: 16px;
  --font-micro: 14px;

  /*Font Weigth*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*Radius*/
  --size-border-radius: 5px;

  /* Color */
  --color-light: #e8dfff;
}

/* Univarsal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 8px 0;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

p {
  font-size: var(--font-samall);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: white;
  padding: 16px;
  transition: all 300ms ease;
}

#navbar.navbar--dark {
  background: url("./img/파란색\ 및\ 분홍색\ 꽃\ 줌\ 가상\ 배경\ \(1\).png")
    center/cover no-repeat;
  z-index: 1;
  opacity: 0.8;
}
.navbar__logo {
  font-size: var(--font-medium);
}

.fa-desktop {
  font-size: var(--font-large);
  margin-right: 10px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: violet;
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: var(--font-large);
  color: white;
  display: none;
}

/* Home */
#home {
  background: url("./img/파란색\ 및\ 분홍색\ 꽃\ 줌\ 가상\ 배경.png")
    center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
  max-width: 1500px;
}

.home__avatar {
  width: 250px;
  height: 320px;
  border-radius: 30%;
  border: 3px solid white;
}

.home__title,
.home__description {
  color: white;
}

.home__contact {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  border-radius: 4px;
  border: 2px solid white;
  margin: 24px;
  padding: 8px 12px;
  color: white;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
}

/* About */
.introduce__description {
  max-width: 600px;
  text-align: center;
  margin: auto;
}

.about__majors {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  border: 1px solid purple;
  border-radius: 50%;
  margin-bottom: 16px;
}

.fa-react,
.fa-network-wired,
.fa-node {
  transition: all 300ms ease;
}

.major__icon:hover .fa-react {
  color: rgb(224, 166, 224);
  transform: scale(1.5);
}

.major__icon:hover .fa-node {
  color: rgb(196, 90, 196);
  transform: scale(1.5);
}

.major__icon:hover .fa-network-wired {
  color: rgb(97, 3, 97);
  transform: scale(1.5);
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
}

.education__icon > img {
  height: 80px;
  width: 80px;
}

.education__description {
  margin: 12px 16px;
}

.education__university {
  font-size: var(--font-medium);
}
.education__major {
  font-size: var(--font-regular);
  color: gray;
}
.education__period {
  font-size: var(--font-samall);
  color: gray;
}

#skills {
  background-color: #e8dfff;
}

.skillset__title {
  color: white;
}

.skill__description {
  color: white;
}

.skillset {
  display: flex;
}

.skillset__left {
  flex-basis: 60%;
  background-color: grey;
}

.skillset__right {
  flex-basis: 40%;
  background-color: #f9f9f9;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill {
  padding: 0 50px;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: darkgray;
  margin-bottom: 5px;
}

.skill__value {
  height: 3px;
  background-color: hotpink;
}

/* Work */
.category__btn {
  border: 1px solid grey;
  border-radius: 10px;
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.work__categories {
  margin: 40px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-light);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: orange;
  border-radius: 50%;
  color: white;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: -20px;
  opacity: 0;
  transition: all 300ms ease;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.project {
  position: relative;
  background-color: var(--color-light);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__img {
  width: 250px;
  height: 250px;
  max-width: 100%;
  max-height: 100%;
  margin: 2px;
}

.project__description {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 300ms ease;
  transform: translateY(10px);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

#contact {
  background: url("./img/파란색\ 및\ 분홍색\ 꽃\ 줌\ 가상\ 배경\ \(1\).png")
    center/cover no-repeat;
}

.contact__title,
.contact__email,
.contact__phone,
.contact__rights {
  color: white;
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links .fa-github:hover,
.contact__links .fa-blog:hover {
  transform: scale(1.5);
  transition: all 300ms ease;
}

@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .about__majors {
    flex-direction: column;
  }
  .major {
    margin-bottom: 30px;
  }
  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }
}
